force-app/main/default/flows/Email_notifications_on_Case_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Liquor_Closed_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Liquor Closed Case Email</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Liquor_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Retail_New_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Retail New Case Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Retail_New_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Retail_Closed_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Retail Closed Case Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Retail_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Wholesale_New_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Wholesale New Case Email</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Wholesale_New_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Wholesale_Closed_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Wholesale Closed Email</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Wholesale_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Liquor_New_Case_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Liquor New Case Email</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Liquor_New_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Retail New Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Liquor Closed Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Retail Closed Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Wholesale New Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Wholesale Closed Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Liquor New Case Email</label>
        </rules>
    </decisions>
    <description>This process builder is to send email notifications to the customer/contact based on different Case statuses</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISNEW(),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
NOT(ISBLANK([Case].ContactId )),
ISPICKVAL([Case].Status, &quot;New&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Retail&quot;),
[Case].contact.Notification_Opt_In__c, true)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
NOT(ISBLANK({!myVariable_current.ContactId} )),
ISPICKVAL({!myVariable_current.Status}, &quot;New&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Retail&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
ISPICKVAL([Case].Status, &quot;Closed&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Liquor&quot;),
[Case].contact.Notification_Opt_In__c, true)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status}),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
ISPICKVAL({!myVariable_current.Status}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Liquor&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
NOT(ISBLANK([Case].ContactId )),
ISPICKVAL([Case].Status, &quot;Closed&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Retail&quot;),
[Case].contact.Notification_Opt_In__c, true)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status}),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
NOT(ISBLANK({!myVariable_current.ContactId} )),
ISPICKVAL({!myVariable_current.Status}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Retail&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
NOT(ISBLANK([Case].ContactId )),
ISPICKVAL([Case].Status, &quot;New&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Wholesale&quot;),
[Case].contact.Notification_Opt_In__c, true)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
NOT(ISBLANK({!myVariable_current.ContactId} )),
ISPICKVAL({!myVariable_current.Status}, &quot;New&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Wholesale&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
NOT(ISBLANK([Case].ContactId )),
ISPICKVAL([Case].Status, &quot;Closed&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Wholesale&quot;),
[Case].contact.Notification_Opt_In__c, true)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status}),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
NOT(ISBLANK({!myVariable_current.ContactId} )),
ISPICKVAL({!myVariable_current.Status}, &quot;Closed&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Wholesale&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
NOT(ISBLANK(TEXT([Case].Status))),
NOT(ISBLANK(TEXT([Case].Liner_brand__c))),
NOT(ISBLANK([Case].ContactId )),
ISPICKVAL([Case].Status, &quot;New&quot;),
ISPICKVAL([Case].Liner_brand__c, &quot;Liquor&quot;),
[Case].contact.Notification_Opt_In__c, true)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
NOT(ISBLANK(TEXT({!myVariable_current.Status}))),
NOT(ISBLANK(TEXT({!myVariable_current.Liner_brand__c}))),
NOT(ISBLANK({!myVariable_current.ContactId} )),
ISPICKVAL({!myVariable_current.Status}, &quot;New&quot;),
ISPICKVAL({!myVariable_current.Liner_brand__c}, &quot;Liquor&quot;),
{!myVariable_current.Contact.Notification_Opt_In__c}, true)</expression>
    </formulas>
    <interviewLabel>Email_notifications_on_Case_Statuses-5_InterviewLabel</interviewLabel>
    <label>Email notifications based on Case Statuses</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
